//
//  Development.xcconfig
//  OVS
//
//  Created by Peter Standret on 2/5/19.
//  Copyright © 2019 startupsoft. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

server_url              = https:/$()/qa-startupsoft-analytics.azurewebsites.net/
server_api_version      = api/
ID_SUFFIX               = DEV

