//
//  PROD.xcconfig
//  OVS
//
//  Created by Peter Standret on 2/5/19.
//  Copyright © 2019 startupsoft. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

server_url              = https:/$()/someurl.com
server_api_version      = api/v1
ID_SUFFIX               = PROD
